.featured-in {
    margin-top: 5rem;
    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }

    &__logos {
        display: flex;
        align-items: center;
        // justify-content: space-around;
        gap: 2rem;

    }

    &__logo {
        width: 50%;
        height: 50%;
    }
}